.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  align-self: flex-end;
  line-height: 51px;
  font-size: 36px;
  text-decoration: none;
  color: #000000;
  transition: opacity .4s ease-in-out;
}

.feynman__link:hover {
  opacity: 0.5;
}
