.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
}

.header {
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  align-items: center;
  background-color:  #f2f2f2;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  width: 183px;
  height:32px;
}

.header__title {
  position: relative;
  left: 64px;
  width:730px;
  margin: 0;
  line-height: 96px;
  font-size: 102px;
  z-index: 3;
}

.header__subtitle {
  position: absolute;
  left: 64px;
  bottom: 30px;
  width: 388px;
  margin: 0;
  line-height: 25px;
  font-size: 18px;
  z-index: 2;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__link:hover {
  color: #1f1f1f;
}

.header__main-illustration {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 765px;
  height: 608px;
}

.header__square-pic {
  position: absolute;
  top: 64px;
  right: 0;
  height: 568px;
  width: 568px;
  background: #2f80ed;
}
.content__description {
  padding-top: 100px;
}

.description {
  display: flex;
  justify-content: center;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.two-columns__brief {
  margin: 0;
  width: 175px;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
  color: #2f80ed;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  line-height: 34px;
  font-size: 24px;
}

.two-columns__paragraph {
  margin-top: 0px;
  margin-bottom: 30px;
}

.two-columns__span-accent {
  font-weight: bold;
}

.two-columns__paragraph:last-of-type {
  margin-bottom: 0;
}

.content__digits {
  padding: 100px 0;
}

.digits {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title {
  width: 60%;
  margin: 0;
  text-align: center;
  line-height: 69px;
  font-size: 60px;
}

.digits__section-title {
  margin-bottom: 20px;
}

.section-subtitle {
  margin: 0;
  width: 60%;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 1100px;
  z-index: 2;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.table__cell {
  margin-top: 60px;
  width: 250px;
}

.table__heading {
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
}

.table__text {
  margin: 20px 0 0;
  line-height: 1.2;
  font-size: 18px;
}

.feynman {
  min-height:  790px;
  background-color: #f2f2f2;
  background-image: url('../images/feynman.png');
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 867px 637px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feynman__title {
  margin: 100px 0 0;
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  text-align: center;
}

.feynman__subtitle {
  margin: 70px 0 0;
  line-height: 51px;
  font-size: 36px;
  text-align: center;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  align-self: flex-end;
  line-height: 51px;
  font-size: 36px;
  text-decoration: none;
  color: #000000;
}

.feynman__link:hover {
  color: #2f80ed;
}

.content__kaufman {
  padding: 90px 0;
}

.kaufman {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #1f1f1f;
}

.kaufman__triangle {
  position: absolute;
  top: 0;
  right: -210px;
  height: 877px;
  width: 877px;
  z-index: 0;
  background-image: url('../images/kaufman-triangle.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.section-title_theme_dark {
  z-index: 1;
  color: #ffffff;
}

.section-subtitle_theme_dark {
  margin-top: 20px;
  color: #ffffff;
}

.table__cell_theme_dark {
  margin-top: 80px;
  width: 200px;
  color: #ffffff;
}

.footer {
  min-height: 350px;
  background: #1f1f1f;
  display: flex;
  justify-content: center;
  padding: 60px 0 40px;
}

.logo_place_footer {
  width: 183px;
  height:35px;
}

.footer__columns {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.footer__column {
  display: flex;
  flex-direction: column;
}

.footer__column_content_copyright {
  justify-content: space-between;
  flex-basis: 711px;
}

.footer__author {
  margin: 0;
  padding: 18px 0px;
  color: #ffffff;
  line-height: 25px;
  font-size:18px;
}

.footer__column-heading {
  color: #ffffff;
  line-height: 30px;
  font-size:18px;
  margin-top: 0;
  margin-bottom: 20px;
}

.footer__column-links {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer__column-link {
  color: #ffffff;
  text-decoration: none;
  line-height: 30px;
  font-size:18px;
}

.footer__column-link:hover {
  opacity: 0.5;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
